<ng-content select=".title"></ng-content>
<form #loginForm="ngForm">
  <div class="form-group">
    <label>Email</label>
    <input
      ngModel
      #email="ngModel"
      name="email"
      class="form-control required"
      type="email"
      autofocus
      spellcheck="false"
      required>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input
      ngModel
      #password="ngModel"
      name="password"
      class="form-control required"
      type="password"
      required>
  </div>
  <ng-content select=".agreement"></ng-content>
  <ng-content select="button"></ng-content>

</form>
